.nav {
    width: 100%;
  }
  
  .nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
  }
  
  .nav__list__item {
    margin: 0 1rem;
  }

  .nav__list__item:active {
    font-size: 3rem;
    text-decoration: underline;
  }