.neutral{
    background-color: white;
  }
  
  .angry{
    background-color: rgb(2, 2, 2);
  }
  .happy{
    background-color: rgb(143, 165, 45);
  }
  .sad{
    background-color: #6163e2;
  }
  .love{
    background-color: rgb(207, 64, 64);
  }