@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(173, 233, 213);
 
}

* {
  box-sizing: border-box;
}

a {
  font-family: 'Krona One', sans-serif;;
  color: inherit;

}





