
.title {
  text-align: center;
  padding-top: 0;
  composes: header__title from '../components/Header.module.css';
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.neutral{
  background-color: rgb(235, 227, 227);
  font-family: 'New Tegomin';
}

.angry{
  background-color: rgb(221, 179, 179);
  font-family: 'Annie Use Your Telescope';
}
.happy{
  background-color: rgb(235, 233, 159);
  font-family: 'Amatic SC';
}
.sad{
  background-color: #b1d2f1;
  font-family: 'Caveat';
}
.love{
  background-color: rgb(247, 194, 238);
  font-family: 'News Cycle';
}